/****** Object:  Table [dbo].[Materias]    Script Date: 09/18/2011 21:06:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Materias](
	[clave] [varchar](20) NOT NULL,
	[Materia] [varchar](50) NOT NULL,
	[CarreraID] [int] NOT NULL,
	[Descripcion] [text] NULL,
	[creditos] [int] NOT NULL,
	[Creacion] [date] NOT NULL,
	[Activa] [bit] NOT NULL,
 CONSTRAINT [PK_Materias] PRIMARY KEY CLUSTERED 
(
	[clave] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Materias] ([clave], [Materia], [CarreraID], [Descripcion], [creditos], [Creacion], [Activa]) VALUES (N'0001', N'Informatica I', 1, NULL, 6, CAST(0x2A2B0B00 AS Date), 1)
INSERT [dbo].[Materias] ([clave], [Materia], [CarreraID], [Descripcion], [creditos], [Creacion], [Activa]) VALUES (N'0002', N'Programacion I', 1, NULL, 5, CAST(0x2A2B0B00 AS Date), 1)
INSERT [dbo].[Materias] ([clave], [Materia], [CarreraID], [Descripcion], [creditos], [Creacion], [Activa]) VALUES (N'0003', N'Bases de datos 1', 1, NULL, 6, CAST(0x042E0B00 AS Date), 1)
/****** Object:  Table [dbo].[Facultades]    Script Date: 09/18/2011 21:06:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Facultades](
	[FacultadID] [int] NOT NULL,
	[Facultad] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Facultades] PRIMARY KEY CLUSTERED 
(
	[FacultadID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Facultades] ([FacultadID], [Facultad]) VALUES (1, N'Contaduria y Administracion')
INSERT [dbo].[Facultades] ([FacultadID], [Facultad]) VALUES (2, N'Ciencias Quimicas')
INSERT [dbo].[Facultades] ([FacultadID], [Facultad]) VALUES (3, N'Medicina')
/****** Object:  Table [dbo].[Carreras]    Script Date: 09/18/2011 21:06:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Carreras](
	[CarreraID] [int] NOT NULL,
	[Carrera] [varchar](100) NOT NULL,
	[FacultadID] [int] NOT NULL,
 CONSTRAINT [PK_Careras] PRIMARY KEY CLUSTERED 
(
	[CarreraID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Carreras] ([CarreraID], [Carrera], [FacultadID]) VALUES (1, N'L.I', 1)
INSERT [dbo].[Carreras] ([CarreraID], [Carrera], [FacultadID]) VALUES (2, N'L.N.I', 1)
INSERT [dbo].[Carreras] ([CarreraID], [Carrera], [FacultadID]) VALUES (3, N'L.A.E', 1)
/****** Object:  Table [dbo].[Alumnos]    Script Date: 09/18/2011 21:06:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alumnos](
	[Matricula] [varchar](20) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[CarreraID] [int] NOT NULL,
	[Ingreso] [datetime] NOT NULL,
 CONSTRAINT [PK_Alumnos_1] PRIMARY KEY CLUSTERED 
(
	[Matricula] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Alumnos] ([Matricula], [Nombre], [Apellido], [CarreraID], [Ingreso]) VALUES (N'A0H4C8', N'Bethany', N'Velasquez', 1, CAST(0x00009F2800000000 AS DateTime))
INSERT [dbo].[Alumnos] ([Matricula], [Nombre], [Apellido], [CarreraID], [Ingreso]) VALUES (N'A0J1V5', N'Owen', N'Moody', 7, CAST(0x0000A11C00000000 AS DateTime))
INSERT [dbo].[Alumnos] ([Matricula], [Nombre], [Apellido], [CarreraID], [Ingreso]) VALUES (N'A0S6T8', N'Rana', N'Freeman', 1, CAST(0x00009DDA00000000 AS DateTime))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
/****** Object:  Table [dbo].[Alumno_Materia]    Script Date: 09/18/2011 21:06:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alumno_Materia](
	[RegistroID] [int] IDENTITY(1,1) NOT NULL,
	[Matricula] [varchar](20) NOT NULL,
	[Materia_Clave] [varchar](20) NOT NULL,
	[CursoEn] [date] NOT NULL,
	[Calificacion] [int] NOT NULL,
 CONSTRAINT [PK_Alumno_Materia] PRIMARY KEY CLUSTERED 
(
	[RegistroID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Alumno_Materia] ON
INSERT [dbo].[Alumno_Materia] ([RegistroID], [Matricula], [Materia_Clave], [CursoEn], [Calificacion]) VALUES (1, N'A0H4C8', N'0001', CAST(0x382D0B00 AS Date), 60)
INSERT [dbo].[Alumno_Materia] ([RegistroID], [Matricula], [Materia_Clave], [CursoEn], [Calificacion]) VALUES (2, N'A0H4C8', N'0002', CAST(0x852D0B00 AS Date), 62)
INSERT [dbo].[Alumno_Materia] ([RegistroID], [Matricula], [Materia_Clave], [CursoEn], [Calificacion]) VALUES (3, N'A0H4C8', N'0003', CAST(0x852D0B00 AS Date), 62)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
SET IDENTITY_INSERT [dbo].[Alumno_Materia] OFF
/****** Object:  ForeignKey [FK_Alumno_Materia_Alumnos]    Script Date: 09/18/2011 21:06:43 ******/
ALTER TABLE [dbo].[Alumno_Materia]  WITH CHECK ADD  CONSTRAINT [FK_Alumno_Materia_Alumnos] FOREIGN KEY([Matricula])
REFERENCES [dbo].[Alumnos] ([Matricula])
GO
ALTER TABLE [dbo].[Alumno_Materia] CHECK CONSTRAINT [FK_Alumno_Materia_Alumnos]
GO
/****** Object:  ForeignKey [FK_Alumno_Materia_Materias]    Script Date: 09/18/2011 21:06:43 ******/
ALTER TABLE [dbo].[Alumno_Materia]  WITH CHECK ADD  CONSTRAINT [FK_Alumno_Materia_Materias] FOREIGN KEY([Materia_Clave])
REFERENCES [dbo].[Materias] ([clave])
GO
ALTER TABLE [dbo].[Alumno_Materia] CHECK CONSTRAINT [FK_Alumno_Materia_Materias]
GO
/****** Object:  ForeignKey [FK_Alumnos_Carreras]    Script Date: 09/18/2011 21:06:43 ******/
ALTER TABLE [dbo].[Alumnos]  WITH CHECK ADD  CONSTRAINT [FK_Alumnos_Carreras] FOREIGN KEY([CarreraID])
REFERENCES [dbo].[Carreras] ([CarreraID])
GO
ALTER TABLE [dbo].[Alumnos] CHECK CONSTRAINT [FK_Alumnos_Carreras]
GO
/****** Object:  ForeignKey [FK_Carreras_Facultades]    Script Date: 09/18/2011 21:06:43 ******/
ALTER TABLE [dbo].[Carreras]  WITH CHECK ADD  CONSTRAINT [FK_Carreras_Facultades] FOREIGN KEY([FacultadID])
REFERENCES [dbo].[Facultades] ([FacultadID])
GO
ALTER TABLE [dbo].[Carreras] CHECK CONSTRAINT [FK_Carreras_Facultades]
GO
